.layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
    border-radius: 8px;
    background: rgba(250, 250, 250, 0.92);
}

.cardHover, .error404 #error-wrap .error-content, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
    border-radius: 8px;
    background: rgba(250, 250, 250, 0.92);
}

.imgHover, .error404 #error-wrap .error-content .error-img img, .article-sort-item-img img, #recent-posts > .recent-post-item .post_cover img.post_bg, #aside-content .aside-list > .aside-list-item .thumbnail > img {
    width: 100%;
    height: 100%;
    filter: opacity(0.8);
}

  /*夜间模式伪类遮罩层透明*/
  [data-theme='dark'] #recent-posts > .recent-post-item {
    background: #121212;
  }
  
  [data-theme='dark'] .card-widget {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#post {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#tag {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#archive {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#page {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#category {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#category {
    background: transparent !important;
  }