.layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
    border-radius: 8px;
    background: rgba(250, 250, 250, 0.92);
}

.cardHover, .error404 #error-wrap .error-content, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
    border-radius: 8px;
    background: rgba(250, 250, 250, 0.92);
}

.imgHover, .error404 #error-wrap .error-content .error-img img, .article-sort-item-img img, #recent-posts > .recent-post-item .post_cover img.post_bg, #aside-content .aside-list > .aside-list-item .thumbnail > img {
    width: 100%;
    height: 100%;
    filter: opacity(0.8);
}

  /*夜间模式伪类遮罩层透明*/
  [data-theme='dark'] #recent-posts > .recent-post-item {
    background: #121212;
  }
  
  [data-theme='dark'] .card-widget {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#post {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#tag {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#archive {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#page {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#category {
    background: #121212 !important;
  }
  
  [data-theme='dark'] div#category {
    background: transparent !important;
  }


  /* 波浪css */
.main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: 5;
}
.waves-area .waves-svg {
  width: 100%;
  height: 5rem;
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #3278a4c9;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #2486e19c;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #64f5975c;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #ddff602c;
}
/* 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #18171dc8;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #18171d80;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #18171d3e;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #18171d;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves-area .waves-svg {
    height: 40px;
    min-height: 40px;
  }
}

/*加载*/
.loading-img {
  background: url(https://i.imgtg.com/2023/03/20/97njC.jpg) no-repeat center center;
  background-size: cover;
}